body {
	background: #34495e;
	margin: 0;
	overflow: hidden;
}

/*-------        Telecorrelator        -------*/

#telecorrelator {
	background: #2c3e50;
	overflow: hidden;
}

/*-------        Timeline-ticker        -------*/

#tickerContainer {
	position: relative;
  	perspective: 800px;
}

#tickerCard {
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	transition: transform 1s;
}

#tickerCard figure {
	margin: 0;
	display: block;
  	position: absolute;
  	width: 100%;
  	height: 100%;
  	backface-visibility: hidden;
  	border: 1px solid #e74c3c;
	color: #e74c3c;
}

#tickerCard .front {
  background: red;
}
#tickerCard .back {
  background: blue;
  transform: rotateX( 180deg );
}
#tickerCard.flipped {
  transform: rotateY( 180deg );
}

/*-------        Timelines        -------*/

.timeline-wrapper {
	white-space: nowrap;
	overflow-x: scroll;
	border: 1px solid #16a085;
}

.news-source-logo {
	display: inline-block;
	position: absolute;
	background: #16a085;
	height: inherit;
}

.timeline {
	white-space: nowrap;
	overflow-x: scroll;
	cursor: move;
}

/*-------        Content blocks        -------*/

.content {
	border: 1px solid black;
	width: 100px;
	display: inline-block;
	background-size: cover;
}

