body {
	background: #ecf0f1;
	margin: 0;
	overflow: hidden;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	height: 100%;
}

#loading {
	width: 100%;
	height: 100%;
	background: #2c3e50;
	color: white;
	position: absolute;
	top: 0;
	z-index: 3;
	-webkit-transition: opacity .5s; /* For Safari 3.1 to 6.0 */
    transition: opacity .5s;
}

#slider {
	position: absolute;
	height: inherit;
	width: 100px; /*arbitrary*/
	background: #1abc9c;
	left: -300px; /*arbitrary*/
	z-index: -1000;
	-webkit-transition: width .5s; /* For Safari 3.1 to 6.0 */
    transition: width .5s;
    -webkit-transition: left .5s; /* For Safari 3.1 to 6.0 */
    transition: left .5s;
    padding: 0 10px;

}

/*-------        Header        -------*/

#header {
	height: 45px;
	background: #34495e;
	color:  white;
	padding-top: 5px;
}

#header h1 {
	margin: 0px 10px;
	font-weight: 100;
	letter-spacing: 3px;
}

#header i {
	margin-right: 5px;
}

/*-------        Telecorrelator        -------*/

#telecorrelator {
	overflow: hidden;
	padding: 10px 0 10px 10px;
	margin: 10px;
}

/*-------        Timeline-ticker        -------*/

#tickerContainer {
	position: relative;
  	perspective: 800px;
  	margin-bottom: 5px;
  	color: white;
}

#tickerFlipButton {
	display: inline-block;
	position: absolute;
	background: #3498db;
	height: inherit;
	z-index: 2;
	width: 25px;
	padding: 5px;
	text-align: center;
	color: white;
	height: 20px;
	cursor: pointer;
}

#tickerCard {
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	transition: transform 1s;
}

#tickerCard figure {
	margin: 0;
	display: block;
  	position: absolute;
  	width: 100%;
  	height: 100%;
  	backface-visibility: hidden;
  	margin-left: 35px;
  	padding-left: 45px;
  	overflow-x: scroll;
}

#tickerCard .front {
  background: #1abc9c;
}

#tickerCard .back {
  background: #2ecc71;
  transform: rotateX( 180deg );
}

#tickerCard.flipped {
  transform: rotateX( 180deg );
}

.horizontalList {
	margin-top: 6px;
	margin-bottom: 0px;
	padding: 0;
}

.horizontalList li {
	display: inline;
	list-style-type: none;
	padding-left: 25px;
	cursor: pointer;
	white-space: nowrap;
	overflow-x: scroll;
}

.horizontalList li:last-child {
	padding-right: 200px;
}

#activeTrend {
	color: #2c3e50;
}

/*-------        Timelines        -------*/

.timeline-wrapper {
	white-space: nowrap;
	overflow-x: hidden;
	border-bottom: 2px solid #bdc3c7;
	min-width: 100%;
}

.news-source-logo {
	display: inline-block;
	position: absolute;
	background: #ecf0f1;
	height: inherit;
	width: 100px;
	overflow: hidden;
	text-align: center;
	border-right: 2px dashed #bdc3c7;
	z-index: 3;
}

.news-source-logo img {
	max-height: 75%;
	margin: 12.5% 0;
}

.timeline {
	white-space: nowrap;
	overflow-x: visible;
	overflow-y: hidden;
	cursor: move;
	padding-left: 90px;
	position: relative;
	left: 0px;
	-webkit-transition: left .5s; /* For Safari 3.1 to 6.0 */
    transition: left .5s;
}

/*-------        Content blocks        -------*/

.content {
	width: 100px;
	display: inline-block;
	background-size: cover;
	background-position: center;
	margin: 7px 0;
	border-radius: 8px;
}

