<!DOCTYPE html>
<html>
	<head>
		<title>Media Responsive Objects</title>

		<link rel="stylesheet" href="/static/mediaResponsiveObjects.css"></link>

		<!--<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">-->

	</head>
	<body>
		<div class="box">
			<h1>Media Responsive Objects</h1>
			<div class="container">
				<img src="/static/environments/desk1.jpg">
				<img id="desk1" src="/static/gifs/desk.gif">
			</div>

			<div class="container">
				<img src="/static/environments/food.jpg">
				<img id="food" src="/static/gifs/food.gif">
			</div>

			<div class="container">
				<img id="coffeeCupImg" src="/static/environments/coffeeCup.png">
				<img id="coffeeCup" src="/static/gifs/clouds2.gif">
			</div>

		</div>
	</body>
</html>