<!DOCTYPE html>
<html>
	<head>
		<title>NewsCombinator</title>

		<!-- Sry bb, jquery -->
		<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->

		<!-- tooltips -->
		<link rel="stylesheet" type="text/css" href="/static/tooltips.css" />
    	<script type="text/javascript" src="/static/tooltips.js"></script>

		<link rel="stylesheet" href="/static/newsCombinator.css"></link>
		<script src="/static/newsCombinator.js"></script>
		<script src="/static/um-video-player.js"></script>

	</head>
	<body>
		<!-- Placeholder for video player -->
    	<div id="um_video_player_wrapper" onclick=videoClicked() onmousemove=mouseMove()></div>
		
    	<div id="controlsContainer">
			<div id="progressSlider"></div> <!-- progressSlider -->
			<div id="playlistContainer"></div> <!-- thumbnailCarousel -->
		</div>

    	<div id="temporaryBackground"></div>

		<div id="timeSelectionContainer">
			<div id="descriptionContainer">
				<h1 class="description">Spend time watching. Not searching.</h1>
				<h2 class="description">How much time do you have?</h2>
			</div>
			<div id="timeButtonContainer">
				<div class="timeButton" id="few" onclick=timeSelected()>A few min</div>
				<div class="timeButton" id="5" onclick=timeSelected()>5 min</div>
				<div class="timeButton" id="10" onclick=timeSelected()>10 min</div>
				<div class="timeButton" id="15" onclick=timeSelected()>15 min</div>
				<div class="timeButton" id="20" onclick=timeSelected()>20 min</div>
				<div class="timeButton" id="25" onclick=timeSelected()>25 min</div>
				<div class="timeButton" id="30" onclick=timeSelected()>30 min</div>
				<div class="timeButton" id="35" onclick=timeSelected()>35 min</div>
				<div class="timeButton" id="40" onclick=timeSelected()>40 min</div>
				<div class="timeButton" id="45" onclick=timeSelected()>45 min</div>
				<div class="timeButton" id="50" onclick=timeSelected()>50 min</div>
				<div class="timeButton" id="55" onclick=timeSelected()>55 min</div>
				<div class="timeButton" id="60" onclick=timeSelected()>60 min</div>
			</div>
		</div>
		


		<div id="played">Played</div>
		<div id="paused">Paused</div>
	</body>
</html>