<!DOCTYPE html>
<html>
	<head>
		<title>{{ source }}</title>

		<link rel="stylesheet" href="/static/source.css"></link>
		<script src="/static/source.js"></script>
		<!-- <script src="um-video-player.js"></script> -->

		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

		<!-- UM events-->
   		<script src="http://um-events.media.mit.edu:10002/socket.io/socket.io.js"></script>
    	<script src="http://um-events.media.mit.edu:10002/client.js"></script>

	</head>
	<script>
	var source = '{{ source }}';
	</script>
	<body onload=init(source)>

		This is {{ source }}
		<video src="video.mp4" controls id="videoPlayer"></video>

	</body>
</html>