<!DOCTYPE html>
<html>
	<head>
		<title>TeleCorrelator</title>

		<!-- jquery -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

		<link rel="stylesheet" href="/static/telecorrelator.css"></link>
		<script src="/static/telecorrelator.js"></script>
		<script src="/static/UMVideoPlayer.js"></script>

		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

		<!-- UM events -->
   		<!-- <script src="http://um-events.media.mit.edu:10002/socket.io/socket.io.js"></script> -->
    	<!-- <script src="http://um-events.media.mit.edu:10002/client.js"></script> -->

	</head>
	<body onload=getContent()>
	<!-- <body> -->

		<!-- <div id="loading">Loading...</div> -->
		<div id="header"><h1><i class='fa fa-exchange fa-xl'></i>Telecorrelator</h1></div>
		<div id="telecorrelator"></div>
		<div id="loading">Loading...</div>

	</body>
</html>