<!DOCTYPE html>
<html>
	<head>
		<title>TeleCorrelator</title>

		<link rel="stylesheet" href="/static/telecorrelator.css"></link>
		<script src="/static/telecorrelator.js"></script>
		<!-- <script src="um-video-player.js"></script> -->

		<!-- d3 -->
		<script src="http://mbostock.github.io/d3/talk/20111018/d3/d3.js"></script>
		<script src="http://mbostock.github.io/d3/talk/20111018/d3/d3.csv.js"></script>
		<script src="http://mbostock.github.io/d3/talk/20111018/d3/d3.time.js"></script>

		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

	</head>
	<body onload=getContent()>

		<div id="telecorrelator">Loading...</div>

	</body>
</html>