<!DOCTYPE html>
<html>
	<head>
		<title>Video Headlines</title>

		<!-- jquery -->
		<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->

		<link rel="stylesheet" href="/static/videoheadlines.css"></link>
		<script src="/static/videoheadlines.js"></script>

		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

	</head>
	<body>

		<!-- <div id="loading">Loading...</div> -->
		<h1>Video headlines</h1>

	</body>
</html>